@import "../../index.scss";

.dailyBill {
  // position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.15rem 0.1rem;
  margin-top: 0.1rem;
  border-radius: 0.1rem;
  background: #ffffff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
  // overflow: hidden;
  .header {
    height: 0.7rem;
    display: flex;
    flex-direction: column;
    --ka-text-color: #888c98;
    justify-content: space-around;
    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .arrow {
      font-size: 0.13rem;
      transition: all 0.3s;
    }
    .arrow.expand {
      transform: rotate(180deg);
    }
    .left {
      span {
        font-size: 0.14rem;
      }
    }
    .oneLineOverview {
      display: flex;
      justify-content: space-between;
      .pay {
        flex: 1;
        .type {
          font-size: 0.1rem;
          margin-right: 0.025rem;
          color: #e56a77;
        }
        .money {
          color: var(--ka-text-color);
          font-size: 0.13rem;
        }
      }

      .income {
        flex: 1;
        .type {
          font-size: 0.1rem;
          margin-right: 0.025rem;
          color: #4f827c;
        }
        .money {
          color: var(--ka-text-color);
          font-size: 0.13rem;
        }
      }

      .balance {
        flex: 1;
        margin-bottom: 0.05rem;
        text-align: right;

        .money {
          line-height: 0.17rem;
          margin-right: 0.06rem;
          font-size: 0.17rem;
        }
        .type {
          font-size: 0.1rem;
          color: var(--ka-text-color);
        }
      }
    }
  }

  .dailyBillList {
    max-height: 0;
    padding: 0;
    width: 100%;
    transition: all 0.5s ease;
    scroll-behavior: smooth;
    overflow: hidden;
    border-top: 1px solid #ececec;
    &.shown {
      padding: 0.15rem 0.1rem 0.1rem 0.15rem;
      max-height: 5rem;
      overflow: auto;
    }
    .bill {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 0.43rem;
      margin-bottom: 0.15rem;

      &:last-child {
        margin-bottom: 0;
      }

      .icon {
        margin-right: 0.1rem;
        font-size: 0.25rem;
      }
      .detail {
        flex: 1;
        display: flex;
        align-items: center;
        padding: 0.04rem 0;
        .billType {
          display: flex;
          align-items: center;
          height: 0.17rem;
          line-height: 0.17rem;
          font-size: 0.14rem;
          padding-left: 0.04rem;
        }
      }
      .money {
        font-size: 0.17rem;
        &.pay {
          color: #ff917b;
        }
        &.income {
          color: #4f827c;
        }
      }
    }
  }
}
