@import "../../index.scss";

.dailyBill {
  // position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: px2vw(15) px2vw(10);
  margin-top: px2vw(10);
  border-radius: px2vw(10);
  background: #ffffff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
  // overflow: hidden;
  .header {
    display: flex;
    flex-direction: column;
    --ka-text-color: #888c98;
    justify-content: space-around;
    height: px2vw(70);
    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .arrow {
      font-size: px2vw(13);
      transition: all 0.3s;
    }
    .arrow.expand {
      transform: rotate(180deg);
    }
    .left {
      span {
        font-size: px2vw(14);
      }
    }
    .oneLineOverview {
      display: flex;
      justify-content: space-between;
      .pay {
        flex: 1;
        .type {
          font-size: px2vw(10);
          margin-right: px2vw(2.5);
          color: #e56a77;
        }
        .money {
          color: var(--ka-text-color);
          font-size: px2vw(13);
        }
      }

      .income {
        flex: 1;
        .type {
          font-size: px2vw(10);
          margin-right: px2vw(2.5);
          color: #4f827c;
        }
        .money {
          color: var(--ka-text-color);
          font-size: px2vw(13);
        }
      }

      .balance {
        flex: 1;
        margin-bottom: px2vw(5);
        text-align: right;

        .money {
          line-height: px2vw(17);
          margin-right: px2vw(6);
          font-size: px2vw(17);
        }
        .type {
          font-size: px2vw(10);
          color: var(--ka-text-color);
        }
      }
    }
  }

  .dailyBillList {
    max-height: 0;
    padding: 0;
    width: 100%;
    transition: all 0.3s ease;
    overflow: hidden;
    border-top: 1px solid #ececec;
    &.shown {
      padding: px2vw(15) px2vw(10);
      max-height: px2vw(500);
      overflow: auto;
    }
    .bill {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: px2vw(43);
      margin-bottom: px2vw(15);

      &:last-child {
        margin-bottom: 0;
      }

      .icon {
        margin-right: px2vw(10);
        font-size: px2vw(25);
      }
      .detail {
        flex: 1;
        padding: px2vw(4) 0;
        .billType {
          display: flex;
          align-items: center;
          height: px2vw(17);
          line-height: px2vw(17);
          font-size: px2vw(14);
          padding-left: px2vw(4);
        }
      }
      .money {
        font-size: px2vw(17);
        &.pay {
          color: #ff917b;
        }
        &.income {
          color: #4f827c;
        }
      }
    }
  }
}
