@import "../../theme.scss";

.monthlyBill {
  display: flex;
  flex-direction: column;
  height: 100%;
  --ka-text-color: #191d26;
  background: linear-gradient(180deg, #ffffff, #f5f5f5 100%);
  background-color: rgba(245, 245, 245, 0.9);
  .nav {
    height: px2vw(45);
    color: #121826;
    background-color: transparent;
    --adm-font-size-10: #{px2vw(16)};
    .adm-nav-bar-back-arrow {
      font-size: px2vw(20);
    }
  }
  .content {
    flex: 1;
    padding: px2vw(10);
    overflow-y: scroll;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
    .header {
      padding: 0 px2vw(10);
      position: relative;
      z-index: 1;
      border-radius: px2vw(10);
      background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0) 60%,
          rgba(255, 255, 255, 0.7)
        ),
        url("https://img.tukuppt.com/ad_preview/00/08/86/5d354b4214ac4.jpg%21/fw/980");
      background-size: 100% 100%;
      height: 25%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      font-size: px2vw(16);
      .date {
        vertical-align: middle;
        .arrow {
          margin-left: px2vw(4);
          font-size: px2vw(12);
          transition: all 0.3s;
        }
        .expand {
          transform: rotate(180deg);
        }
      }
      .twoLineOverview {
        display: flex;
        flex-wrap: wrap;
        .item {
          flex: 1;
          display: flex;
          flex-direction: column;
          &:nth-child(1) {
            margin-left: 0;
          }
          .money {
            height: px2vw(24);
            line-height: px2vw(24);
            font-size: px2vw(18);
          }
          .type {
            height: px2vw(14);
            line-height: px2vw(14);
            font-size: px2vw(12);
          }
        }
      }
    }
  }
}
