.keepAccounts {
  --ka-bg-color: #daf2e1;
  --ka-color: #69ae78;
  --ka-border-color: #191d26;
  height: 100%;
  background-color: var(--ka-bg-color);
  display: flex;
  flex-direction: column;
  .nav {
    --adm-font-size-10: 0.16rem;
    color: #121826;
    background-color: transparent;

    &::after {
      height: 0;
    }

    .adm-nav-bar-back-arrow {
      font-size: 0.2rem;
    }
  }

  .header {
    height: 1.32rem;

    .kaType {
      padding: 0.09rem 0;
      text-align: center;

      .adm-button {
        --adm-font-size-9: 0.13rem;

        &:first-child {
          margin-right: 0.1rem;
        }
      }

      .selected {
        color: #fff;
        --background-color: var(--ka-border-color);
      }
    }

    .kaFormWrapper {
      padding: 0.1rem 0.225rem 0.2rem;

      .kaForm {
        display: flex;
        padding: 0.11rem 0.15rem 0.11rem 0.12rem;
        border: 0.005rem solid var(--ka-border-color);
        border-radius: 0.09rem;
        background-color: #fff;

        .date {
          display: flex;
          align-items: center;
          height: 0.28rem;
          padding: 0.055rem 0.05rem;
          border-radius: 0.04rem;
          color: var(--ka-color);
          background-color: var(--ka-bg-color);

          .icon {
            margin-right: 0.06rem;
            font-size: 0.17rem;
          }

          .text {
            font-size: 0.16rem;
          }
        }

        .kaInput {
          flex: 1;
          display: flex;
          align-items: center;

          .input {
            flex: 1;
            margin-right: 0.1rem;
            --text-align: right;
            --font-size: 0.24rem;
            --color: var(--ka-color);
            --placeholder-color: #d1d1d1;
          }

          .iconYuan {
            font-size: 0.24rem;
          }
        }
      }
    }
  }

  .container {
  }

  .kaTypeList {
    flex: 1;
    // height: 4.9rem;
    padding: 0.2rem 0.11rem;
    padding-bottom: 0.7rem;
    overflow-y: scroll;
    background: #ffffff;
    border-radius: 0.2rem 0.2rem 0 0;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .kaType {
      margin-bottom: 0.25rem;
      font-size: 0.12rem;
      color: #333;

      .title {
        padding-left: 0.05rem;
        margin-bottom: 0.05rem;
        font-size: 0.13rem;
        color: #808080;
      }

      .list {
        display: flex;

        .item {
          width: 0.65rem;
          height: 0.65rem;
          padding: 0.09rem 0;
          margin-right: 0.07rem;
          text-align: center;
          border: 0.005rem solid #fff;
          &.active {
            background-image: radial-gradient(
              circle at center center,
              #fff 0%,
              var(--ka-bg-color) 50%
            );
            border-radius: 0.1rem;
          }

          &:last-child {
            margin-right: 0;
          }

          .icon {
            height: 0.25rem;
            line-height: 0.25rem;
            margin-bottom: 0.05rem;
            font-size: 0.25rem;
          }
        }

        .item.selected {
          border: 0.005rem solid var(--ka-border-color);
          border-radius: 0.05rem;
          background: var(--ka-bg-color);
        }
      }
    }
  }

  .btns {
    position: fixed;
    bottom: 0.15rem;
    left: 50%;
    transform: translateX(-50%);
    // width: 100%;
    text-align: center;
    .btn {
      width: 2rem;
      --border-width: 0;
      --background-color: #fafafa;
      --text-color: #616161;

      &:first-child {
        margin-right: 0.15rem;
      }
    }

    .btn.save {
      --background-color: var(--ka-bg-color);
      --text-color: var(--ka-color);
    }
  }
}
