* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC",
    /* macOS 中文优雅 */ "Microsoft YaHei",
    /* Windows 中文清晰 */ "Hiragino Sans GB",
    /* macOS Safari 中文 */ "Noto Sans CJK SC",
    /* Google Noto 开源字体 */ "WenQuanYi Micro Hei",
    /* Linux 常用中文字体 */ "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
